@import "~bootstrap/scss/bootstrap";

$dark-high: #121212;
$dark-medium: #313131;
$dark-low: #454545;
$brighter-highest: #f2f2f2;
$brighter-high: #d2d2d2;
$brighter-medium: #c0c0c0;
$brighter-low: #a0a0a0;
$green-one: #27AE60;
$green-three: #6FCF97;

#paper, #editor, #monitorbox {
    box-sizing: border-box;
    overflow: auto;
}

#toolbar {
    border-bottom: 5px solid $dark-medium;
    box-sizing: border-box;
    position: relative;
}

#gutter_vert {
    grid-column-start: 1;
    grid-column-end: 4;
}

input#tick {
    background: white;
    width: 5em;
}

#paper > div {
    min-height: 100%;
    min-width: 100%;
}

div#monitorbox > div.btn-toolbar {
    position: sticky;
    background: $dark-medium;
    input[type=text] {
        background: $brighter-medium;
    }
    input[name=scale] {
        width: 4em;
    }
    input[name=rangel] {
        text-align: right;
    }
    input[name=rangel], input[name=rangeh] {
        width: 6em;
    }
    padding-bottom: 10px;
}

.symbola {
    font-family: "Symbola", $font-family-sans-serif;
}

#monitor {
    border: 3px solid #212121;
    background: #e3e3e3;
}

#monitor > table button {
    @extend .btn;
    @extend .btn-sm;
    @extend .btn-warning;
    font-size: 1.2em;
    background: palevioletred;
}

#monitor>table button:hover {
    background: #C15151;
}

#monitor > table td {
    padding: 0em 0.2em;
    &:last-of-type {
        padding-right: 0em;
    }
    font-size: 1.2em;
    height: 2.1em;
}

table.monitor td.name {
    font-size: 1.6em;
    height: 2.1em;
    color: $dark-high;
}

#monitor > table input[name=trigger] {
    @extend .form-control;
    @extend .form-control-sm;
    width: 5em;
    height: 2.1em;
    font-size: 1.2em;
};

#monitor > table select {
    @extend .form-control;
    @extend .form-control-sm;
    font-size: 1.2em;
    height: 2.1em;
    width: auto;
    padding: 0;
    &[name=trigger] {
        width: 5em;
        text-align: center;
    }
}

div#monitorbox>div.btn-toolbar input[name=scale],
div#monitorbox>div.btn-toolbar input[name=rangeh],
input#tick {
    width: 4em;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.input-group>.input-group-prepend>.input-group-text {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background: $brighter-high;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.page-header {
    background: $dark-high;
}

#wrapper {
    background: $dark-medium;
}

.custom-btn {
    @extend .btn;
    border-radius: 10px;
}

.btn-main {
    @extend .btn;
    border-radius: 10px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    text-align: center;
    color: $dark-high;
    letter-spacing: 0.75px;
    color: $dark-high;
}

.btn-disabled {
    @extend .btn-main;
    background: $brighter-highest;
    mix-blend-mode: normal;
    opacity: 0.38;
    text-shadow: 1px 3px 5px rgba(0, 0, 0, 0.25);
}

.btn-enabled {
    @extend .btn-main;
    background: $green-three;
}

// Testbench input
.tb-form {
    display: inline-block;
    height: 30px;
    text-align: center;
    width: 100px;
}

.tb-file-input {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    text-align: center;
    color: $dark-high;
    letter-spacing: 0.75px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    background: $green-three;
    display: block;
    padding: 5px;
}
.tb-file-input input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    display: block;
    cursor: pointer;
}
.tb-filename {
    text-align: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: $brighter-medium;
}
